body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
}

.back-to-home-btn img {
  width: 110px;
  height: 70px;
}

main {
  text-align: center;
  padding-top: 50px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  margin-top: 40px;
  padding: 0 20px;
}

.scale-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("scale-background.jpg");
  background-size: cover;
  opacity: 0.2;
  z-index: -1;
}

.card {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.card-img img {
  width: 100%;
  max-height: 150px;
  object-fit: contain;
  border-radius: 8px;
}

.card-info {
  margin-top: 20px;
}

.text-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.text-body {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}

.card-footer {
  display: flex;
  align-items: center;
}

.card-input {
  margin-right: 20px;
}

.card-input label {
  display: block;
  font-size: 12px;
  margin-bottom: 5px;
}

.card-input input {
  width: 60px;
  height: 24px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  font-size: 12px;
}

.card-button {
  display: flex;
  align-items: center;
  padding: 4px 10px;
  background-color: #ffcaa6;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-button svg {
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

.card-button span {
  font-size: 12px;
  font-weight: bold;
}

footer {
  text-align: center;
  margin-top: 40px;
  padding: 10px;
  background-color: #f7f7f7;
}

.logo2-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: -5%;
}

.logo2-container img {
  width: 250px;
  height: auto;
}